html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(Khaelbackground.png) no-repeat center center fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #f2f2f2;
    font-family: 'Georgia', serif;
    text-align: center;
    overflow-x: hidden;
}




/* Sidebar Styling */
#sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
}

#sidebar a {
    padding: 12px;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    font-size: 18px;
}

#sidebar a:hover {
    background-color: rgba(255,255,255,0.2);
}

/* Adjust main content to move right of sidebar */
#main-content {
    margin-left: 200px;
    padding: 20px;
}
